img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 200;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1,
h2,
h3,
h4 {
  font-family: 'Noto Serif JP', sans-serif;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 200;
}

h2 {
  font-size: 1.75em;
  font-weight: 200;
}

h3 {
  font-size: 1.35em;
  font-weight: 200;
}

h4 {
  font-size: 1.15em;
  font-weight: 200;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#contact h2 {
  text-align: center;
  /*
  Centers text */
}

#title h1 {
  text-align: center;
  /* Centers text */
}

#work h2 {
  text-align: center;
}

#work h3 {
  text-align: left;
}

#proj1descrip {
  text-align: left
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 1px 4px 9px 0px rgba(50, 50, 50, 0.2);
  position: fixed;
  width: 100%;
}

.logo {
  max-width: 250px;
}

main {
  padding-top: 191px;
}

footer {
  padding: 0px 0;
  text-align: center;
  width: 100%;
  position: static;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  font-weight: 350;
  display: inline-block;
  list-style-type: none;
}

a {
  color: #48bfe3;
  text-decoration: none;
  /* No underlining */
}

a {
  font-weight: 300;
}

nav>ul>li>a:visited {
  /* visited link */
  color: #48bfe3;
}

nav>ul>li>a:hover, a:focus {
  color: #48bfe3;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

nav>ul>li>a:active {
  /* selected link */
  color: #48bfe3;
}

.button {
  display: inline-block;
  margin: 0 auto;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #5b6c5d;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #5b6c5d;
  transition-duration: 0.2s;
  transition-property: opacity;
  /* width of the border, type, color */
}

.button:visited {
  /* visited link */
  color: #ffffff;
}

.button:hover, .button:focus {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  background-color: #5b6c5d;
  color: #ffffff;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #5b6c5d;
  text-transform: uppercase;
  border: 2px solid #5b6c5d;
  transition-duration: 0.2s;
}

.button.contact:visited {
  /* visited link */
  color: #5b6c5d;
}

.button.contact:hover, .button.contact:focus {
  background-color: #73877b;
  color: #ffffff;
}

.button.contact:active {
  background-color: #5b6c5d;
  color: #ffffff;
}

.button.cv {
  background-color: transparent;
  color: #48bfe3;
  text-transform: uppercase;
  border: 2px solid #48bfe3;
  transition-duration: 0.2s;
}

.button.cv:visited {
  /* visited link */
  color: #48bfe3;
}

.button.cv:hover, .button.cv:focus {
  background-color: #48bfe3;
  color: #ffffff;
}

.button.cv:active {
  background-color: #48bfe3;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px auto;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
  width: 100%;
}

#work1 .row {
  width: 100%;
}

#hero {
  background-color: #ffffff;
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#title {
  padding: 20px 0;
}

#resume {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.container.cv {
  display: block;
}

#picture {
  margin: 0 auto;
  max-width: 400px;
}

#aboutsection {
  display: inline-block;
  width: 100%;
}

#skills {
  display: inline-block;
  text-align: left;
  width: 100%;
}

#skills h2 {
  text-align: center;
}

#contact {
  background-color: #ffffff;
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.in {
  display: inline-block;
  width: 3em;
  height: 3em;
  padding: 0 5px
}

.be {
  display: inline-block;
  width: 3em;
  height: 3em;
  padding: 0 5px
}

#icons>ul {
  list-style-type: none;
  padding: 0;
}

#icons>ul>li {
  display: inline-block;
}

#icons>ul>li>a {
  margin: 0 auto;
  font-weight: 350;
  display: inline-block;
  list-style-type: none;
}

@keyframes color-change {
  0% {
    stroke: #000000;
  }

  20% {
    stroke: #112C35;
  }

  40% {
    stroke: #21596A;
  }

  60% {
    stroke: #33859F;
  }

  80% {
    stroke: #3FA7C6;
  }

  100% {
    stroke: #48bfe3;
  }
}

.circle {
  animation-duration: 7s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes l-move {
  from {
    transform: translate(0px, -10px);
  }

  to {
    transform: translate(0px, 10px);
  }
}

.l {
  animation-duration: 12s;
  animation-name: l-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes b-move {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-15px, 0px);
  }
}

.b {
  animation-duration: 10s;
  animation-name: b-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  main {
    padding-top: 134px;
  }

  #hero span {
    display: block;
  }

  #skills h3 {
    text-align: center;
  }

  #skills {
    display: inline-block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
